#selfie {
    width: 50%;
}
#selfie_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#top_bar {
    background-color: rgb(200, 100, 0);
    color: white;
    padding: 10px;
    text-align: center;
}